body{
    text-align: center;
    margin-top: 5em;
    background-color: rgb(177, 190, 201);

    font-family: sans-serif;
    line-height: 2.0em;
}

.projects_styling{
    margin: auto;
    margin-bottom: 2em;
    width: 50%;

    background-color: royalblue;
    
    border-radius: 2em;
    border: 0.5em solid black; 
    padding: 1.25em;
    width: 50em;
    height: 12em;

    font-family: 'Courier New', Courier, monospace;
}